
    <div class="text-center" id="admin"><a style="margin: 0 auto;" asp-action="Index" asp-area="Admin" asp-controller="Home">Admin</a></div>
    <div class="text-center" id="user"><a style="margin: 0 auto;" asp-action="Login" asp-area="User" asp-controller="Login">Kullanıcı</a></div>

    

    
 