<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Giriş Sayfası - Tesodev</title>
    <link rel="stylesheet" href="~/css/vendor/bootstrap.min.css" />
    
    
    <style>
        #admin {
            float: left;
            height: 500px;
            width: 50%;
            background-image: linear-gradient(white, red);
            display: inline;
            transform:translateY(50%);
        }

        #user {
            float: left;
            width: 50%;
            height: 500px;
            background-image: linear-gradient(white, blue);
            display: inline;
        }

        a {
            text-decoration: none;
            color: white;
            font-size: 24px;
            line-height: 500px;
        }
    </style>
</head>
<body>

    @RenderBody()

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
