<div class="menu">
    <div class="main-menu">
        <div class="scroll">
            <ul class="list-unstyled">
                <li>
                    <a asp-area="User" asp-controller="Home" asp-action="Index" class="icon-menu-item">
                        <i class="iconsminds-equalizer d-block"></i>
                        <span>Anasayfa</span>
                    </a>
                </li>
                <li>
                    <a asp-area="User" asp-controller="Home" asp-action="ShoppingCart" class="icon-menu-item">
                        <i class="iconsminds-shopping-cart d-block"></i>
                        <span>Sepet</span>
                    </a>
                </li>
                <li>
                    <a asp-area="User" asp-controller="Home" asp-action="Orders" class="icon-menu-item">
                        <i class="iconsminds-checkout d-block"></i>
                        <span>Siparişler</span>
                    </a>
                </li>
                <li>
                    <a class="icon-menu-item" asp-area="User" asp-controller="Home" asp-action="LogOut">
                        <i class="simple-icon-close d-block"></i>
                        <span>Çıkış</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>


</div>
